[package]
name = "risc0-guest"
version = "0.1.0"
edition = "2021"

[dependencies]
risc0-zkvm = { version = "1.2", default-features = false, features = ["std"] }
kzg-rs-blend = { path = "../crates/kzg-rs-blend" }

[workspace]

[profile.release]
opt-level = 3
lto = true

